.BoardGame {
  font-size: 2em;
  background-color: #6baef1;
  max-width: 30em;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
}

.BoardGame ul {
  list-style: none;
}
